<template name="ttcdisruption">
		{{#if isStreetcar }}
		<tr class="disruption-entry streetcar-entry">
				<td class="icon"><i class="fa fa-train"></i></td>
				<td class="route-numbers">
					<div class="streetcar-routes-affected">
					{{#each streetcarNumber}}
						<div class="streetcar-line-number">{{.}}</div>
					{{/each}}
					</div>
				</td>
				<td class="time-of-day icon-pad">{{ getDateTime.time }}</td>
				<td class="time-month-day">
					<span class="time-month">{{ getDateTime.month }}</span>
					<span class="time-day">{{ getDateTime.day }}</span>
				</td>
				<td class="type-involving icon-pad">
					<span class="type-icon">
						{{#if disruptionType.police }}
							<span class="icon-police"></span>
						{{else}}
							<i class="fa fa-{{ disruptionType.icon }}"></i>
						{{/if}}
					</span>
					<span class="type-text">{{ disruptionType.text }}</span>
				</td>
				<td class="intersection">
				{{#each getIntersection}}
					<span class="cross-street"><i class="fa fa-road"></i>{{.}}</span>
				{{/each}}
				</td>
				<td class="direction">
					<span class="icon"><i class="fa fa-{{ direction.icon }}"></i></span>
					<span class="letter">{{ direction.text }}</span>
				</td>
				<td class="description">{{{ formattedDescription }}}</td>
			</tr>
		{{else}}
			{{#if isSubway }}
			<tr class="disruption-entry subway-entry {{subwayLine.name}}">
				<td class="icon">
					<i class="fa fa-subway"></i>
				</td>
				<td class="route-numbers">
					<div class="subway-line-number">{{ subwayLine.number }}</div>
				</td>
				<td class="time-of-day icon-pad">{{ getDateTime.time }}</td>
				<td class="time-month-day">
					<span class="time-month">{{ getDateTime.month }}</span>
					<span class="time-day">{{ getDateTime.day }}</span>
				</td>
				<td class="type-involving icon-pad">
					<span class="type-icon">
						{{#if disruptionType.police }}
							<span class="icon-police"></span>
						{{else}}
							<i class="fa fa-{{ disruptionType.icon }}"></i>
						{{/if}}
					</span>
					<span class="type-text">{{ disruptionType.text }}</span>
				</td>
				<td class="station-location">
					{{#each stationNames}}
						<span class="station-name">{{.}}</span>
					{{/each}}
				</td>
				<td class="direction">
					<span class="icon"><i class="fa fa-{{ direction.icon }}"></i></span>
					<span class="letter">{{ direction.text }}</span>
				</td>
				<td class="description">{{{ formattedDescription }}}</td>
			</tr>
			{{else}}
				<tr class="disruption-entry bus-entry">
					<td class="icon"><i class="fa fa-bus"></i></td>
					<td class="route-numbers">
						<div class="bus-routes-affected">
							{{#each getBus}}
								<div class="individual-route">{{.}}</div>
							{{/each}}
						</div>
					</td>
					<td class="time-of-day icon-pad">{{ getDateTime.time }}</td>
					<td class="time-month-day">
						<span class="time-month">{{ getDateTime.month }}</span>
						<span class="time-day">{{ getDateTime.day }}</span>
					</td>
					<td class="type-involving icon-pad">
						<span class="type-icon">
						{{#if disruptionType.police }}
							<span class="icon-police"></span>
						{{else}}
							<i class="fa fa-{{ disruptionType.icon }}"></i>
						{{/if}}
					</span>
						<span class="type-text">{{ disruptionType.text }}</span>
					</td>
					<td class="intersection">
					{{#each getIntersection}}
						<span class="cross-street"><i class="fa fa-road"></i>{{.}}</span>
					{{/each}}
					</td>
					<td class="direction">
						<span class="icon"><i class="fa fa-{{ direction.icon }}"></i></span>
						<span class="letter">{{ direction.text }}</span>
					</td>
					<td class="description">{{{ formattedDescription }}}</td>
				</tr>
			{{/if}}
		{{/if}}
</template>