<template name="ttcdisruption">
		{{#if isStreetcar }}
		<tr class="disruption-entry streetcar-entry">
				<td class="icon"><i class="fa fa-train"></i></td>
				<td class="route-numbers">
					<div class="streetcar-routes-affected">
					{{#each streetcarNumber}}
						<div class="streetcar-line-number">{{.}}</div>
					{{/each}}
					</div>
				</td>
				<td class="time-overall time-of-day icon-pad mobile-ui-viz" data-month="{{ getDateTime.month }}" data-day="{{ getDateTime.day }}" data-days-ago="{{getDateTime.difference}}">
					<span class="time-hour-minute">{{ getDateTime.time }}</span>
					{{#if getDateTime.isBeforeToday }}
					<div class="time-month-day clearfix">
						<span class="time-day">{{ getDateTime.day }}</span>
						<span class="time-month">{{ getDateTime.month }}</span>
					</div>
					{{/if}}
				</td>
				<td class="type-involving icon-pad mobile-ui-viz">
					<div class="icons-listing">
						{{#each disruptionType.alerts}}
						<span class="type-icon {{#if diversionRoute }}diversion-alert{{else}}std-alert{{/if}}" data-toggle="tooltip" data-placement="top" title="{{#if diversionRoute }}{{diversionRoute}}{{else}}{{type}}{{/if}}">
							{{#if custom }}
								<span class="ico-{{icon}} icon-non-fa"></span>
							{{else}}
								<i class="fa fa-{{icon}}"></i>
							{{/if}}
						</span>
						{{/each}}
					</div>
					<span class="type-text">{{ disruptionType.alert_type }}</span>
				</td>
				<td class="location-alert intersection mobile-ui-viz">
					{{#if getIntersection.hasIntersections}}
					<span class="ico-intersection icon-non-fa"></span>
					{{/if}}
					<div class="cross-street-wrapper">
						{{#if getIntersection.isSubwayLocation}}
							{{#each getIntersection.intersections}}
								<span class="surface-disruption-station"><i class="fa fa-subway"></i>{{.}}</span>
							{{/each}}
						{{else}}
							{{#each getIntersection.intersections}}
								<span class="cross-street">{{.}}</span>
							{{/each}}
						{{/if}}
					</div>
				</td>
				<td class="direction mobile-ui-viz">
					<span class="icon"><i class="fa fa-{{ direction.icon }}"></i></span>
					<span class="letter">{{ direction.text }}</span>
				</td>
				<td class="description">
					<span class="toggle-description">
						<i class="fa fa-list-alt"></i>
						<i class="fa fa-chevron-left"></i>
					</span>
					<span class="desc-text">{{{ formattedDescription }}}</span>
				</td>
			</tr>
		{{else}}
			{{#if isSubway }}
			<tr class="disruption-entry subway-entry {{subwayLine.name}}">
				<td class="icon">
					<i class="fa fa-subway"></i>
				</td>
				<td class="route-numbers">
					{{#each subwayLine.lines}}
					<div class="subway-line-number subway-line-{{.}}-num">{{.}}</div>
					{{/each}}
				</td>
				<td class="time-overall time-of-day icon-pad mobile-ui-viz" data-month="{{ getDateTime.month }}" data-day="{{ getDateTime.day }}" data-days-ago="{{getDateTime.difference}}">
					<span class="time-hour-minute">{{ getDateTime.time }}</span>
					{{#if getDateTime.isBeforeToday }}
					<div class="time-month-day clearfix">
						<span class="time-day">{{ getDateTime.day }}</span>
						<span class="time-month">{{ getDateTime.month }}</span>
					</div>
					{{/if}}
				</td>
				<td class="type-involving icon-pad mobile-ui-viz">
					<div class="icons-listing">
						{{#each disruptionType.alerts}}
						<span class="type-icon {{#if diversionRoute }}diversion-alert{{else}}std-alert{{/if}}" data-toggle="tooltip" data-placement="top" title="{{#if diversionRoute }}{{diversionRoute}}{{else}}{{type}}{{/if}}">
							{{#if custom }}
								<span class="ico-{{icon}} icon-non-fa"></span>
							{{else}}
								<i class="fa fa-{{icon}}"></i>
							{{/if}}
						</span>
						{{/each}}
					</div>
					<span class="type-text">{{ disruptionType.alert_type }}</span>
				</td>
				<td class="location-alert station-location mobile-ui-viz">
					{{#each subwayLine.stations}}
						<span class="station-name"><i class="fa fa-subway"></i>{{.}}</span>
					{{/each}}
				</td>
				<td class="direction mobile-ui-viz">
					<span class="icon"><i class="fa fa-{{ direction.icon }}"></i></span>
					<span class="letter">{{ direction.text }}</span>
				</td>
				<td class="description">
					<span class="toggle-description">
						<i class="fa fa-list-alt"></i>
						<i class="fa fa-chevron-left"></i>
					</span>
					<span class="desc-text">{{{ formattedDescription }}}</span>
				</td>
			</tr>
			{{else}}
				<tr class="disruption-entry bus-entry">
					<td class="icon"><i class="fa fa-bus"></i></td>
					<td class="route-numbers">
						<div class="bus-routes-affected">
							{{#each getBus}}
								<div class="individual-route">{{.}}</div>
							{{/each}}
						</div>
					</td>
					<td class="time-overall time-of-day icon-pad mobile-ui-viz" data-month="{{ getDateTime.month }}" data-day="{{ getDateTime.day }}" data-days-ago="{{getDateTime.difference}}">
						<span class="time-hour-minute">{{ getDateTime.time }}</span>
						{{#if getDateTime.isBeforeToday }}
						<div class="time-month-day clearfix">
							<span class="time-day">{{ getDateTime.day }}</span>
							<span class="time-month">{{ getDateTime.month }}</span>
						</div>
						{{/if}}
					</td>
					<td class="type-involving icon-pad mobile-ui-viz">
						<div class="icons-listing">
							{{#each disruptionType.alerts}}
							<span class="type-icon {{#if diversionRoute }}diversion-alert{{else}}std-alert{{/if}}" data-toggle="tooltip" data-placement="top" title="{{#if diversionRoute }}{{diversionRoute}}{{else}}{{type}}{{/if}}">
								{{#if custom }}
									<span class="ico-{{icon}} icon-non-fa"></span>
								{{else}}
									<i class="fa fa-{{icon}}"></i>
								{{/if}}
							</span>
							{{/each}}
						</div>
						<span class="type-text">{{ disruptionType.text }}</span>
					</td>
					<td class="location-alert intersection mobile-ui-viz">
						{{#if getIntersection.hasIntersections}}
						<span class="ico-intersection icon-non-fa"></span>
						{{/if}}
						<div class="cross-street-wrapper">
						{{#if getIntersection.isSubwayLocation}}
							{{#each getIntersection.intersections}}
								<span class="surface-disruption-station"><i class="fa fa-subway"></i>{{.}}</span>
							{{/each}}
						{{else}}
							{{#each getIntersection.intersections}}
								<span class="cross-street">{{.}}</span>
							{{/each}}
						{{/if}}
						</div>
					</td>
					<td class="direction mobile-ui-viz">
						<span class="icon"><i class="fa fa-{{ direction.icon }}"></i></span>
						<span class="letter">{{ direction.text }}</span>
					</td>
					<td class="description">
						<span class="toggle-description">
							<i class="fa fa-list-alt"></i>
							<i class="fa fa-chevron-left"></i>
						</span>
						<span class="desc-text">{{{ formattedDescription }}}</span>
					</td>
				</tr>
			{{/if}}
		{{/if}}
</template>