<template name="ttcdisruption">
		{{#if isStreetcar }}
		<article class="disruption-entry streetcar-entry clearfix">
				<div class="{{icon_column_class}} icon"><i class="fa fa-train"></i></div>
				<div class="{{route_column_class}} route-numbers">
					<div class="streetcar-routes-affected">
					{{#each streetcarNumber}}
						<div class="streetcar-line-number">{{.}}</div>
					{{/each}}
					</div>
				</div>
				<div class="{{time_column_class}} time-overall time-of-day icon-pad mobile-ui-viz" data-month="{{ getDateTime.month }}" data-day="{{ getDateTime.day }}" data-days-ago="{{getDateTime.difference}}">
					<span class="time-hour-minute">{{ getDateTime.time }}</span>
					{{#if getDateTime.isBeforeToday }}
					<div class="time-month-day clearfix">
						<span class="time-day">{{ getDateTime.day }}</span>
						<span class="time-month">{{ getDateTime.month }}</span>
					</div>
					{{/if}}
				</div>
				<div class="{{disruption_column_class}} type-involving mobile-ui-viz">
					<div class="icons-listing">
						{{#each disruptionType.alerts}}
							{{#if diversionRoute}}
								<div class="type-icon diversion-alert" data-toggle="tooltip" data-placement="top" title="{{type}}" data-diversion="{{diversionRoute}}">
								{{#if custom }}
									<span class="ico-{{icon}} icon-non-fa"></span>
								{{else}}
									<i class="fa fa-{{icon}}"></i>
								{{/if}}
								</div>
							{{else}}
								<div class="type-icon std-alert" data-toggle="tooltip" data-placement="top" title="{{type}}">
								{{#if custom }}
									<span class="ico-{{icon}} icon-non-fa"></span>
								{{else}}
									<i class="fa fa-{{icon}}"></i>
								{{/if}}
								</div>
							{{/if}}
						{{/each}}
					</div>
				</div>
				<div class="{{location_column_class}} location-alert intersection mobile-ui-viz mobile-ui-viz-divert">
					{{#if getIntersection.hasIntersections}}
					<span class="ico-intersection icon-non-fa"></span>
					{{/if}}
					<div class="cross-street-wrapper">
						{{#if getIntersection.isSubwayLocation}}
							{{#each getIntersection.intersections}}
								<span class="surface-disruption-station"><i class="fa fa-subway"></i>{{.}}</span>
							{{/each}}
						{{else}}
							{{#each getIntersection.intersections}}
								<span class="cross-street">{{.}}</span>
							{{/each}}
						{{/if}}
					</div>
				</div>
				<div class="{{direction_column_class}} direction mobile-ui-viz mobile-ui-viz-divert">
					<span class="icon"><i class="fa fa-{{ direction.icon }}"></i></span>
					<span class="letter">{{ direction.text }}</span>
				</div>
				<div class="{{desc_column_class}} description mobile-ui-viz-divert">
					<span class="toggle-description">
						<i class="fa fa-list-alt"></i>
						<i class="fa fa-chevron-left"></i>
					</span>
					<span class="desc-text">{{{ formattedDescription }}}</span>
				</div>
			</article>
		{{else}}
			{{#if isSubway }}
			<article class="disruption-entry subway-entry {{subwayLine.name}} clearfix">
				<div class="{{icon_column_class}} icon">
					<i class="fa fa-subway"></i>
				</div>
				<div class="{{route_column_class}} route-numbers">
					{{#each subwayLine.lines}}
					<div class="subway-line-number subway-line-{{.}}-num">{{.}}</div>
					{{/each}}
				</div>
				<div class="{{time_column_class}} time-overall time-of-day icon-pad mobile-ui-viz" data-month="{{ getDateTime.month }}" data-day="{{ getDateTime.day }}" data-days-ago="{{getDateTime.difference}}">
					<span class="time-hour-minute">{{ getDateTime.time }}</span>
					{{#if getDateTime.isBeforeToday }}
					<div class="time-month-day clearfix">
						<span class="time-day">{{ getDateTime.day }}</span>
						<span class="time-month">{{ getDateTime.month }}</span>
					</div>
					{{/if}}
				</div>
				<div class="{{disruption_column_class}} type-involving mobile-ui-viz">
					<div class="icons-listing">
						{{#each disruptionType.alerts}}
							{{#if diversionRoute}}
								<div class="type-icon diversion-alert" data-toggle="tooltip" data-placement="top" title="{{type}}" data-diversion="{{diversionRoute}}">
								{{#if custom }}
									<span class="ico-{{icon}} icon-non-fa"></span>
								{{else}}
									<i class="fa fa-{{icon}}"></i>
								{{/if}}
								</div>
							{{else}}
								<div class="type-icon std-alert" data-toggle="tooltip" data-placement="top" title="{{type}}">
								{{#if custom }}
									<span class="ico-{{icon}} icon-non-fa"></span>
								{{else}}
									<i class="fa fa-{{icon}}"></i>
								{{/if}}
								</div>
							{{/if}}
						{{/each}}
					</div>
				</div>
				<div class="{{location_column_class}} location-alert station-location mobile-ui-viz mobile-ui-viz-divert">
					{{#each subwayLine.stations}}
						<span class="station-name"><i class="fa fa-subway"></i>{{.}}</span>
					{{/each}}
				</div>
				<div class="{{direction_column_class}} direction mobile-ui-viz mobile-ui-viz-divert">
					<span class="icon"><i class="fa fa-{{ direction.icon }}"></i></span>
					<span class="letter">{{ direction.text }}</span>
				</div>
				<div class="{{desc_column_class}} description mobile-ui-viz-divert">
					<span class="toggle-description">
						<i class="fa fa-list-alt"></i>
						<i class="fa fa-chevron-left"></i>
					</span>
					<span class="desc-text">{{{ formattedDescription }}}</span>
				</div>
			</article>
			{{else}}
				<article class="disruption-entry bus-entry clearfix">
					<div class="{{icon_column_class}} icon"><i class="fa fa-bus"></i></div>
					<div class="{{route_column_class}} route-numbers">
						<div class="bus-routes-affected">
							{{#each getBus}}
								<div class="individual-route">{{.}}</div>
							{{/each}}
						</div>
					</div>
					<div class="{{time_column_class}} time-overall time-of-day icon-pad mobile-ui-viz" data-month="{{ getDateTime.month }}" data-day="{{ getDateTime.day }}" data-days-ago="{{getDateTime.difference}}">
						<span class="time-hour-minute">{{ getDateTime.time }}</span>
						{{#if getDateTime.isBeforeToday }}
						<div class="time-month-day clearfix">
							<span class="time-day">{{ getDateTime.day }}</span>
							<span class="time-month">{{ getDateTime.month }}</span>
						</div>
						{{/if}}
					</div>
					<div class="{{disruption_column_class}} type-involving mobile-ui-viz">
						<div class="icons-listing">
							{{#each disruptionType.alerts}}
								{{#if diversionRoute}}
									<div class="type-icon diversion-alert" data-toggle="tooltip" data-placement="top" title="{{type}}" data-diversion="{{diversionRoute}}">
									{{#if custom }}
										<span class="ico-{{icon}} icon-non-fa"></span>
									{{else}}
										<i class="fa fa-{{icon}}"></i>
									{{/if}}
									</div>
								{{else}}
									<div class="type-icon std-alert" data-toggle="tooltip" data-placement="top" title="{{type}}">
									{{#if custom }}
										<span class="ico-{{icon}} icon-non-fa"></span>
									{{else}}
										<i class="fa fa-{{icon}}"></i>
									{{/if}}
									</div>
								{{/if}}
							{{/each}}
						</div>
					</div>
					<div class="{{location_column_class}} location-alert intersection mobile-ui-viz mobile-ui-viz-divert">
						{{#if getIntersection.hasIntersections}}
						<span class="ico-intersection icon-non-fa"></span>
						{{/if}}
						<div class="cross-street-wrapper">
						{{#if getIntersection.isSubwayLocation}}
							{{#each getIntersection.intersections}}
								<span class="surface-disruption-station"><i class="fa fa-subway"></i>{{.}}</span>
							{{/each}}
						{{else}}
							{{#each getIntersection.intersections}}
								<span class="cross-street">{{.}}</span>
							{{/each}}
						{{/if}}
						</div>
					</div>
					<div class="{{direction_column_class}} direction mobile-ui-viz mobile-ui-viz-divert">
						<span class="icon"><i class="fa fa-{{ direction.icon }}"></i></span>
						<span class="letter">{{ direction.text }}</span>
					</div>
					<div class="{{desc_column_class}} description mobile-ui-viz-divert">
						<span class="toggle-description">
							<i class="fa fa-list-alt"></i>
							<i class="fa fa-chevron-left"></i>
						</span>
						<span class="desc-text">{{{ formattedDescription }}}</span>
					</div>
				</article>
			{{/if}}
		{{/if}}
</template>