/* Disruption list */

.disruption-list {

	border-spacing: 0.15em 0.4em;
	border-collapse: separate;

	tbody {

		.disruption-entry {

			td {
				border-top: none;
				vertical-align: middle;
			}

		}

	}

	.disruption-entry {

		list-style-type: none;
		color: @std-text-white;

		.bus-routes-affected,
		.subway-line-number,
		.streetcar-routes-affected {
			font-weight: 700;
			font-size: 1.3em;
			margin: .3em 1em; 
			text-align: center;
		}

		.icon-pad {
			padding: 1.1em;
		}

		.time-overall {

			min-width: 135px;
			text-align: center;

			.time-hour-minute {
				font-size: 1.3em;
				font-weight: 700;
			}

			.time-month-day {

				&:after {
					clear: both;
				}

				span {
					display: inline-block;
				}

				.time-day {
					font-size: 1.3em;
				}

				.time-month {
					position: relative;
    				top: -1px;
				}
			}

		}

		// Disruption icons
		.type-involving {
			min-width: 52px;
			i, .icon-police {
				margin: .1em .1em;
			}
			.type-text {
				margin-left: .3em;
				display: none;
				float: left;
			}
			.type-icon {
				width: 2.5em;
				text-align: center;
				float: left;
			}
			.icon-police {
				font-size: 1.5em;
			}
		}

		// Intersection 

		.intersection, .station-location {

			min-width: 15em;
			padding: 0em 1em;

			i.fa {
				margin: 0.2em 1em 0.2em 0em;
				font-size: 1em;
			}

			span.cross-street, span.station-name {
				display: block;
			    margin: .5em;
			    padding: .1em .6em;
			}

			span.cross-street {
				border: 1px solid #fff;
			}

		}

		// Direction 

		.direction {

			text-align: center;

			i.fa {
				margin: .2em .2em;
			}
			.letter {
				font-weight: 700;
				font-size: 1.2em;
			}
		}

	}

}