/* Disruption list */

.disruption-list {

	border-spacing: 0em 0.5em;
	border-collapse: separate;

	tbody {

		.disruption-entry {

			td {
				border-top: none;
				vertical-align: middle;
				height: 5em;
				.mobile-all({
				    height: 8em;
				});
			}

		}

	}

	/* START Day Divider */

	.day-divider {
		height: 2.5em;
		background-color: @std-black;
		color: @std-text-white;
		text-align: center;

		i.fa {
			margin: 0em 1.5em;
			font-size: 1.2em;
			font-weight: 400;
		}

		span {
			font-size: 1.2em;
			font-weight: 400;
		}
	}

	/* END Day Divider*/

	.disruption-entry {

		list-style-type: none;
		color: @std-text-white;

		.bus-routes-affected,
		.subway-line-number,
		.streetcar-routes-affected {
			font-weight: 500;
			font-size: 1.9em;
			margin: .3em .5em; 
			text-align: center;
		}

		.route-numbers {
			min-width: 8em;
		}

		.subway-line-number {
			border-width: 2px;
			border-color: #fff;
			border-style: solid;
    		border-radius: 30px;
    		width: 1.7em;
    		height: 1.7em;
    		margin: .2em auto;
		}

		.icon-pad {
			padding: 1.1em;
		}

		.time-overall {

			min-width: 135px;
			text-align: center;

			.time-hour-minute {
				font-size: 1.4em;
				font-weight: 600;
			}

			.time-month-day {

				&:after {
					clear: both;
				}

				span {
					display: inline-block;
				}

				.time-day {
					font-size: 1.3em;
				}

				.time-month {
					position: relative;
    				top: -1px;
				}
			}

		}

		// Disruption icons
		.type-involving {
			.icons-listing {
				text-align: center;
			}
			min-width: 52px;
			i, .icon-non-fa {
				margin: .2em .1em;
			}
			.type-text {
				margin-left: .3em;
				display: none;
				float: left;
			}
			/* Adjust icon sizes */
			.icon-non-fa {
				font-size: 1.5em;
			}
			.ico-elevator {
				font-size: 2.6em;
			}
			// Font awesome custom sizes
			.fa.fa-level-up {
			    font-size: 2.1em;
			}
			.fa-clock-o {
				font-size: 2.2em;
			}
			.ico-police {
				font-size: 2.1em;
			}
			/* End icon sizes adjustment */
		}

		// Intersection 

		.intersection, .station-location {

			min-width: 17em;
			padding: 0em 1em;
			font-size: 1.2em;

			i.fa {
				margin: 0.2em 1em 0.2em 0em;
				font-size: 1em;
			}

			span.cross-street,
			span.station-name,
			span.surface-disruption-station {
				display: block;
			    margin: .2em;
			    padding: .1em .6em;
			}

			.ico-intersection, .cross-street-wrapper {
				display: inline-block;
			}

			.ico-intersection {
				font-size: 2.4em;
				padding-left: .1em;
			}

		}

		// Direction 

		.direction {

			text-align: center;
			min-width: 6.5em;

			i.fa {
				margin: .2em .2em;
			}
			.letter {
				font-weight: 600;
				font-size: 1.3em;
			}
		}

		// description
		.description {
			padding: 1.3em;

			.toggle-description {
				display: none;
				text-align: center;

				.fa {
					margin: 0em 0em;
				}

				.mobile-all({
				    display: block;
				});

			}

			.desc-text {

				.mobile-all({
				    display: none;
				});

			}

		}

		// Mobile description

		.mobile-description {
			padding-left: 3em;
    		padding-right: 3em;
    		font-size: 1.7em;
    		background-color: @panel-lighter-grey;
		}

		// alternating panel background color
		.type-involving, .direction {
			background-color: @panel-lighter-grey;
		}

		// Strong alternating panel background color 
		.time-overall, .location-alert, .description {
			background-color: @panel-grey;
		}

	}

}