// All diversion and alert drawer styles go here

td.diversion-drawer {

	background-color: @panel-grey;

	.diversion-element {
		background-color: @diversion-white-bg;
		padding: .4em;
    	font-size: 1.2em;
    	margin: .4em;
	}

}