// All diversion and alert drawer styles go here

td.diversion-drawer {

	background-color: @panel-grey;

	.multi-diversion, .single-diversion {
		margin: .8em .4em;
		padding: .4em;
	}

	.diversion-common {
		padding: .4em;
    	font-size: 1.2em;
    	margin: .4em;
	}

	.diversion-element {
		background-color: @diversion-white-bg;
	}

}