/* Open Sans Font */

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Body */

body {
	background-color: @body-background;
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
}
html {
	font-size: 62.5%;
}

.container {

	.mobile-all({
	    width: 100%;
	});

}

.ui-control {
	margin: 1em 0 1em 0;

	option.no-mobile {
		.mobile-all({
		    display: none;
		});
	}

}

.app-header {
	p {
		font-size: 2em;
	}
}

.current-time {
	p {
		float: left;
	}
	.time-display {
		margin-left: 2em;
	}
}

/* End body */

i.fa {
	margin: .5em auto;
	font-weight: 500;
	font-size: 4em;
}

.disruption-table-header {
	background-color: @std-black;
	color: @std-text-white;
	.xs-screen({
	    display: none;
	});
	.mobile-all({
	    display: none;
	});
	> div {
		float: left;
		text-align: center;
		font-weight: 700;
	}
}