// Subway disruption colors

.subway-entry {

	&.Bloor-Danforth {
		//background-color: @ttc-green;
		td {
			&.icon, &.route-numbers {
				background-color: @ttc-green;
			}
			&.route-numbers {
				background-color: @ttc-lighter-green;
			}
		}
	}

	&.Yonge-University-Spadina {
		// background-color: @ttc-yellow;
		td {
			&.icon, &.route-numbers {
				background-color: @ttc-yellow;
				color: @std-text-dark-grey;
			}
			&.route-numbers {
				background-color: @ttc-lighter-yellow;
			}
		}
		// color: @std-text-dark-grey;

		.subway-line-number {
			border-color: @std-text-dark-grey;
		}

	}

	&.Scarborough-RT {
		// background-color: @ttc-blue;
		td {
			&.icon, &.route-numbers {
				background-color: @ttc-blue;
			}
			&.route-numbers {
				background-color: @ttc-lighter-blue;
			}
		}	
	}

	&.Sheppard {
		// background-color: @ttc-purple;
		td {
			&.icon, &.route-numbers {
				background-color: @ttc-purple;
			}
			&.route-numbers {
				background-color: @ttc-lighter-purple;
			}
		}
	}

	.station-location {
		font-size: 1.3em;
	}

}