/* Body */

body {
	background-color: @body-background;
}

/* End body */

i.fa {
	margin: .5em 1em;
	font-weight: 500;
	font-size: 1.5em;

}

/* Disruption list */

.disruption-list {

	.disruption-entry {
		list-style-type: none;
		color: @std-text-white;

		.bus-routes-affected,
		.subway-line-number,
		.streetcar-line-number {
			font-weight: 700;
			font-size: 1.2em;
			margin: .5em 1em; 
			text-align: center;
		}

		.time-month-day {

			.time-month {
				display: block;
			}

		}

		// Uniform padding for text cells
		.time-month-day,
		.time-of-day,
		.description {
			padding: 1.2em;
		}

	}

}

// Subway disruption colors

.subway-entry {

	&.Bloor-Danforth {
		background-color: @ttc-green;
	}

	&.Yonge-University-Spadina {
		background-color: @ttc-yellow;
		color: @std-text-dark-grey;
	}

	&.Scarborough-RT {
		background-color: @ttc-blue;	
	}

	&.Sheppard {
		background-color: @ttc-purple;
	}

}

// Streetcar 

.streetcar-entry {
	background-color: @ttc-red;
}

// Bus

.bus-entry {
	background-color: @ttc-bus;
}