/* Body */

body {
	background-color: @body-background;
}

.ui-control {
	margin: 1em 0 1em 0;
	clear: both;
}

.current-time {
	p {
		float: left;
	}
	.time-display {
		margin-left: 2em;
	}
	clear: both;
	font-size: 1.4em;
}

/* End body */

i.fa {
	margin: .5em 1em;
	font-weight: 500;
	font-size: 1.5em;

}

.disruption-table-header {
	background-color: @std-black;
	color: @std-text-white;
	th {
		text-align: center;
	}
}